* {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  color: white;
  background: #1a1b21;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;
}
.EmailButton {
  flex: none;
  flex-grow: 0;
  background: white;
  border-radius: 6px;
  border-color: white;
  border-width: 10px 15px 20px 25px;
  border-style: solid;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}
.LinkedInButton {
  flex: none;
  flex-grow: 0;
  background: #5093e2;
  color: white;
  border-width: 1px 15px 20px 25px;
  border-color: #5093e2;
  border-style: solid;
  border-radius: 6px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-content-center-email {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.btn-content-center-linkedin {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
